max.takeScreenshot = true
max.takeScreenshotForEveryStep = true
max.saveGUITreeToXmlEveryStep =true
max.debug = true
max.fuzzingRate = 0.0D
max.doTrackballFuzzing = 0
max.doRotateFuzzing = 0
max.doAppSwitchFuzzing = 0
max.doTrackballFuzzing = 0
max.doNavKeyFuzzing = 0
max.doKeyCodeFuzzing = 0
# max.doSystemKeyFuzzing 
# max.doDragFuzzing 
max.doPinchZoomFuzzing = 0
# max.doClickFuzzing 
max.doMutationAirplaneFuzzing = 0
max.doMutationMutationAlwaysFinishActivitysFuzzing = 0
max.doMutationWifiFuzzing = 0